/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Oswald', sans-serif;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*  css resetter */

.container {
    width: 960px;
    margin: 0 auto;
}
/* header */

#loader {
    z-index: 999999;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff url(../img/loader.gif) 50% 50% no-repeat;
}
header.sticky {
    font-size: 24px;
}
header {
    z-index: 9999;
    width: 100%;
    position: fixed;
    padding-top: 25px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
header .container {
    position: relative;
}
.logo {
    /* background: red; */
    float: left;
}
.logo img {
    width: 90%;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}
.align-right {
    float: right;
}
nav.navigation {
    position: relative;
    padding-top: 21px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
nav.navigation ul li {
    display: inline;
    list-style-type: none;
}
nav.navigation ul li a {
    font-size: 16px;
    color: #E9EAED;
    font-weight: bolder !important;
    text-decoration: none;
    padding: 0 10px 0 10px;
    transition: all 0.2s ease-in-out 0s;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}
nav.navigation span {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding-left: 35px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
nav.navigation span:hover {
    color: #cfcfcf;
    cursor: pointer;
}
nav.navigation ul li:first-child a {
    padding-left: 0;
}
nav.navigation ul li.active a {
    color: #fff;
    text-decoration: none;
}
nav.navigation ul li a:focus {
    color: #244FD0;
    text-decoration: none;
    text-align: center;
}
nav.navigation ul li a:hover {
    color: #F43A0E;
    text-decoration: none;
}
nav.navigation ul li a:active {
    color: #25F40E;
    text-decoration: none;
}
nav.navigation ul li a:focus {
    text-decoration: none;
}
.sticky .navigation span {
    font-size: 14px;
}
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    z-index: 9999;
    background: #999;
}
.sticky {
    position: fixed;
    width: 100%;
    background: rgba(236, 236, 236);
    background: rgba(0, 0, 0, 0.6);
    padding: 0px 0 1px 0;
    height: auto;
    z-index: 999999;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    /* margin-top: 0; */
    /* opacity: 1; */
}
.sticky .logo img {
    
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    padding: 3px 0;
}
.sticky nav.navigation {
    padding-top: 26px;
}
/*.addpad{
  padding-top: 142px;
}*/

.sticky .navigation ul li {} .sticky .navigation ul li a {}
/* header */

section#banner .container {
    width: 100%;
    color: #fff;
}
section#home {
    /* background: #000; */
    height: 700px;
    background-position: 41px -16px !important;
    /* background-attachment: fixed; */
    margin: 0 auto;
    width: 100%;
    background-size: 92% !important;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position: relative;
}
div#large-header .container {
    position: relative;
    bottom: 517px;
    text-align: center;
    width: 960px;
}
div#large-header h1 {
    margin: 0 0 12px 0;
    color: #fff;
    font-weight: bolder;
    font-size: 62px;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 6px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
}
.banner-text-desc {
    padding-top: 6.4%;
    position: relative;
    width: 83.948%;
    margin: 0 auto;
    overflow: hidden;
    bottom: 45px;
}
.banner-content p.h1-sub {
    font-size: 34px;
    color: #fff;
    line-height: 20px;
    font-weight: bolder;
}
span.nickName {
    font-size: 20px;
    position: relative;
    top: 10px;
}
#imgIcon {
    position: relative;
    bottom: 23px;
    width: 100%;
}
div#mouse-scroll {
    position: relative;
    bottom: 40px;
}
.btd-fl {
    width: 48.8%;
    float: left;
    padding-right: 40px;
    border-right: 1px solid #d8d8d8;
    padding-bottom: 3px;
    text-align: right;
    font-size: 30px;
}
.btd-fr {
    width: 48.8%;
    float: left;
    padding-left: 40px;
    text-align: left;
    font-size: 30px;
}
.bounce {
    animation: bounce 2.5s infinite;
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    -o-animation: bounce 2.5s infinite;
}
.mouse-arrow {
    display: block;
    width: 51px;
    margin: 0 auto;
    height: 63px;
    background-image: url(../img/mouse-icon.png);
    background-repeat: no-repeat;
    margin-top: 3%;
}
div#home_bg {
    background: url(../img/bg.png) no-repeat;
    background-position: 0px 40px;
    background-size: 100%;
}
section#about {
    height: 1200px;
    padding: 15px 0 0 0;
    /* background: url("../img/circuit.png") 0px 0px no-repeat; */
    /* background: white; */
    background-size: cover;
    background-position: center;
    background: #91fee6;
    background: -moz-linear-gradient(top, #91fee6 0%, #91fee6 14%, #91fee6 14%, #91fee6 25%, #91fee6 33%, #ffffff 62%, #ffffff 100%);
    background: -webkit-linear-gradient(top, #91fee6 0%,#91fee6 14%,#91fee6 14%,#91fee6 25%,#91fee6 33%,#ffffff 62%,#ffffff 100%);
    background: linear-gradient(to bottom, #91fee6 0%,#91fee6 14%,#91fee6 14%,#91fee6 25%,#91fee6 33%,#ffffff 62%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#91fee6', endColorstr='#ffffff',GradientType=0 );
}
h1.alignCenterh1 {
    text-align: center;
    font-size: 30px;
}
h1.alignCenterh2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
}
div#aboutMe {
    position: relative;
    bottom: 205px;
    line-height: 27px;
}
div#ptextLeft {
    width: 35%;
    float: left;
    height: auto;
}
div#ptextRight {
    width: 35%;
    float: right;
    height: auto;
}
section#mywork {
    /*background: url(../img/bg1.jpg);*/
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0 0 0;
}
section#gallery {
    /*background: #E9EAED; */
    background: url("../img/circuit.png") 0px 0px no-repeat;
    background-size: cover;
    height: 690px;
    padding: 35px 0 0 0;
    background-position: center;
}
#gallery_wrapper {
    margin: 12px auto 0 auto;
    width: 960px;
    /* background-color: blue; */
}
section#footer {
    height: 365px;
    /* position: relative; */
    /* top: 428px; */
    margin: 500px 0 0 0;
    padding: 55px 0 0 0;
}
section#etc {
    /*background: url(../img/bg3.jpg);*/
    height: 670px;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0 0 0;
}
section#interest {
    background: rgba(233, 234, 237, 0.55);
    height: 400px;
    background-attachment: fixed;
    padding: 40px 0 0 0;
}
#contactSect {
    background: #fff;
    height: 520px;
    padding: 60px 0 20px 0;
    width: 100%;
    margin: -133px 0 0 0;
}
h1.alignCenter {
    text-align: center;
    font-size: 30px;
    /* background-color: green; */
    position: relative;
    bottom: 30px;
    bottom: 30px;
}
.contact-details {
    width: 63%;
    height: 374px;
    padding: 14px;
    float: left;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 35px 0 0 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.contact-details p {
    line-height: 25px;
}

.googleMap {
    margin: 10px 0 0 0;
}
.component {
    position: relative;
    bottom: 16px;
}
section#gallery .container {
    padding: 20px 0 0 0;
}
/* gallery */

p#top {
    /* width: 80px; */
    /* height: 80px; */
    /* background: cyan; */
    /* border-radius: 45px; */
    /* padding: 30px 0 0 0; */
    text-align: center;
    float: right;
    position: relative;
    top: 30px;
    right: 40px;
}
p.email {
    color: red;
}
i.fa.fa-arrow-circle-o-up {
    font-size: 50px;
    color: white;
}
.copyright {
    background: rgba(253, 253, 253, 0.2);
    padding: 5px 0;
    overflow: hidden;
    padding: 20px 0 20px 0;
    width: 80%;
    margin: 0 auto;
    border: 3px double #fff;
    box-shadow: 0px 0px 9px rgba(253, 252, 252, 7);
}
.copyright p {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    padding: 0;
}
div#arrowUp {
    /* background-color: red; */
    text-align: center;
    margin: 130px 0 0 0;
}
a#aUp {
    /* background-color: red; */
    padding: 10px 0 0 6px;
}
i.fa.fa-chevron-up {
    color: #fff;
    /* padding: 20px; */
    position: relative;
    bottom: 10px;
    font-size: 24px;
}
i.fa.fa-gamepad {
    font-size: 86px;
    margin: 25px 0 0 60px;
}
i.fa.fa-film {
    font-size: 86px;
    margin: 25px 0 0 60px;
}
i.fa.fa-headphones {
    font-size: 86px;
    margin: 25px 0 0 64px;
}
i.fa.fa-paint-brush {
    font-size: 86px;
    margin: 25px 0 0 60px;
}
i.fa.fa-desktop {
    font-size: 86px;
    margin: 25px 0 0 60px;
}
canvas#demo-canvas {
    width: 100%;
    height: 707px;
}
div#interest2 {
    /* background-color: red; */
    width: 722px;
    height: 200px;
    margin: 0 auto;
    align-content: center;
    position: relative;
    bottom: 78px;
    left: 5px;
}
.wrap1 {
    margin: 0 auto;
    /* background-color: blue; */
    width: 902px;
}
span.aka {
    font-size: 12px;
}
.contact-details h2 {
    font-weight: bolder;
}
.mesaggeform {
    width: 35%;
    /* height: 373px; */
    float: right;
    /* position: relative; */
    /* left: 50px; */
}
label {
    color: #6c6c6c;
}
input {
    line-height: 31px;
}
textarea#message {
    padding: 4px 0 0 7px;
}
#contact_form {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 10px;
    height: 373px;
    float: left;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 35px 0 0 0;
}
input,
textarea {
    width: 288px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, .6);
    border: solid 1px #000;
    padding: 0 0 0 7px;
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1); 
}
#submit_btn {
    width: 287px;
    height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    font-weight: bold;
    color: #fff;
    margin: 5px 0 0 5px;
    background: rgba(0, 0, 0, 0.80);
}
input#submit_btn:hover {
    background-color: grey;
    color: black;
}
.row {
    margin: 5px;
}
#skills {
    width: 960px;
    margin: 0 auto;
    /* background-color: red; */
    padding: 0 0 0 6px;
    height: 330px;
}
.col1 {
    width: 305px;
    /* background-color: red; */
    float: left;
    margin: -35px 13px 0 0;
}
.progress-bar {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar1 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar2 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar3 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar4 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar5 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar6 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar7 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar8 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar9 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar10 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar11 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progress-bar12 {
    text-align: right;
    background: #000000;
    height: 20px;
    padding: 2px 0 0 3px;
    float: left;
    border-radius: 3px;
}
.progressBox {
    color: #FFF;
    height: 24px;
    padding: 2px;
    margin: 4px auto 4px auto;
    /* border: 1px #000 double; */
    clear: both;
    border-radius: 3px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}
.prgssbarText {
    position: absolute;
    margin: 2px 0 0 5px;
}
.percent {
    margin: 0 5px 0 0;
}
#shadow {
    margin: -18px 0 -15px 0;
    width: 98%;
    display: none;
}


/* contact */


#contact {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 10px;
    height: 373px;
    float: left;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 35px 0 0 5px;
    position: relative;
    width: 350px;
}
.container1.content {
    /* background-color: blue; */
    width: 452px;
}
#contact .desc {} #contact .desc h2 {
    font-weight: bolder;
    margin: 0 0 18px 0;
}
#contact .desc p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.3em;
    margin-bottom: 15px;
}
#contact .formblock {
    display: block;
    margin-bottom: 11px;
}
#contact .formblock label {
    display: block;
    font-style: italic;
    font-weight: normal;
    color: #232323;
    color: #5f6d7a;
}
#contact .formblock .txt {
    padding: 4px 6px;
    color: #666;
    width: 330px;
}
#contact .formblock .txtarea {
   
    padding: 3px 5px;
    color: #666;
    width: 330px;
    height: 140px;
}
#contact .formblock .error {
    color: red;
    font-size: 11px;
}
#contact .info {
    font-weight: bold;
    color: #59913d;
    margin-bottom: 10px;
}
#contact p.tick {
    font-size: 1.2em;
    color: #6D7277;
    margin: 35px 0 0 0;
}
#contact .subbutton {
    padding: 16px 121px;
    font-size: 1.1em;
    font-weight: bold;
    color: #565656;
}




@-moz-document url-prefix() {
    .p_right {
        display: none;
    }
    nav.navigation ul li a {
        font-size: 16px;
        color: #E9EAED;
        font-weight: bolder !important;
        text-decoration: none;
        padding: 0 10px 0 10px;
        transition: all 0.2s ease-in-out 0s;
        text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    }
    .cd-intro {
        margin: 74px auto 157px !important;
    }
    span.prgssbarText.moz1 {
    float: right;
    left: 0;
    margin: 2px 0 0 519px;
    }
    .moz {
    margin: 2px 0 0 837px !important;
    }
    .prgssbarText {
    float: right;
    left: 0;
    margin: 2px 0 0 202px;
    }
    .progress-bar5 {
        z-index: 800;
    }
    .contact-details {
        width: 63%;
        padding: 22px 10px;
        height: 378px !important;
    }
    section#footer {
    margin: 515px 0px 0px !important;   
    }
    .sticky {
    background: rgba(236, 236, 236);
    background: rgba(0, 0, 0, 0.6);
    } 
    #contact_form {
        height: 389px !important;
    }
    #contact {
    height: 378px !important;
    }   
    #contactSect {
    height: 523px !important;
    }
}
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: #000;
    /*background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg") no-repeat scroll 0% 0% / cover;*/
    transition: opacity 1s ease 0s;
}

h2#s2k img {
    float: left;
    width: 13%;
    position: relative;
    top: 20px;
}


section#gallery p {
    margin: -45px auto 0 auto;
    /* border: 1px groove black; */
    padding: 21px 10px;
    width: 75%;
    border-radius: 50px;
    background-color: rgba(146, 146, 146, 0.81);
    color: white;
    box-shadow: 0px 0px 9px rgb(10, 10, 10);
}







.more{
	position:relative;
	clear:both;

    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0px 10px;
    width: 372px;
    margin: 0 auto;
}
.more ul{
	display:block;
	text-align:center;
    height: 30px;
}
.more ul li{
	display: block;
    padding: 4px 2px;
    float:left;
}
.more ul li.selected a,
.more ul li.selected a:hover{
	background:#aaa;
	color:#fff;
	text-shadow:none;
}
.more ul li a{
	color:#555;
    float:left;
	background:#fff;
    width:auto;
	padding: 2px 5px;
	-moz-box-shadow:1px 1px 2px #aaa;
	-webkit-box-shadow:1px 1px 2px #aaa;
	box-shadow:1px 1px 2px #aaa;
}
.more ul li a:hover{
	background:#000;
	color:#fff;
}
.button-wrapper {
    width: 19%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    top: 22px;
}
.a-btn {
    background: #040404;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(#80a9da,0),color-stop(#6f97c5,1));
    background: -webkit-linear-gradient(top, rgba(35, 36, 37, 0.47) 0%, rgba(8, 8, 8, 0.22) 100%);
    background: -moz-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background: -o-linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    background: linear-gradient(top, #80a9da 0%, #6f97c5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80a9da', endColorstr='#6f97c5',GradientType=0 );
    padding-left: 20px;
    padding-right: 80px;
    height: 38px;
    display: inline-block;
    position: relative;
    border: 1px solid #ffffff;
    -webkit-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow: 0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgb(233, 234, 237), 0px 0px 0px 4px rgba(251, 253, 252, 0.58);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    float: left;
    clear: both;
    margin: 10px 0px;
    overflow: hidden;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.a-btn-text{
    padding-top:9px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color: #E9EAED;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.a-btn-slide-text{
    position:absolute;
    height:100%;
    top:0px;
    right:52px;
    width:0px;
    background:#ACD5EF;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:10px;
    overflow:hidden;
    line-height:38px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}
.a-btn-icon-right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #E9EAED;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../img/arrow_right.png) no-repeat 50% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn:hover{
    padding-right:180px;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
}
.a-btn:hover .a-btn-text{
    
    text-shadow: 0px -1px 1px #DFF8F8;
    color:#fff;
    text-decoration: none;
}
.a-btn:hover .a-btn-slide-text{
    width:100px;
}
.a-btn:hover .a-btn-icon-right span{
    opacity:1;
}
.a-btn:active{
    position:relative;
    top:1px;
    background:#5d81ab;
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    box-shadow:1px 1px 2px rgba(0,0,0,0.4) inset;
    border-color:#80a9da;
}


a {
    text-decoration: none !important;
}



p.software {
    font-size: 13px !important;
    font-style: italic;
}

span.date1 {
    position: absolute;
    width: 100%;
    left: 134%;
    top: 32px;
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}
span.date2 {
    position: absolute;
    width: 100%;
    right: 64%;
    top: 35px;
    font-size: 16px;
    font-size: 1rem;
    color: #fff;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

h4.timeline-title {
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    color: black;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
    box-shadow: 0px 0px 9px rgba(253, 252, 252, 7);
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 43%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px 12px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    line-height: 1.4;
    background: rgba(255, 255, 255, 0.52);
    color: white;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 28px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 29px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge1 {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 49.6%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    background: #fff url(../img/smrt.gif) 6px 6px no-repeat;
    background-size: 84%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* border: 2px solid black; */
    box-shadow: 0 0 0 4px #e9eaed, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px rgba(253, 252, 252, 7);
}

.timeline > li > .timeline-badge2 {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 49.6%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    background: #fff url(../img/ndq.gif) 6px 6px no-repeat;
    background-size: 79%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* border: 2px solid black; */
    box-shadow: 0 0 0 4px #e9eaed, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px rgba(253, 252, 252, 7);
}
.timeline > li > .timeline-badge3 {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 49.6%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    background: #fff url(../img/cpr.gif) 8px 8px no-repeat;
    background-size: 73%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* border: 2px solid black; */
    box-shadow: 0 0 0 4px #e9eaed, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px rgba(253, 252, 252, 7);
}
.timeline > li > .timeline-badge4 {
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 49.6%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    background: #fff url(../img/spi1.gif) 6px 6px no-repeat;
    background-size: 84%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /* border: 2px solid black; */
    box-shadow: 0 0 0 4px #e9eaed, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px rgba(253, 252, 252, 7);
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


/* skills */


section#Skills {
    margin: 0 0 0 0;
    background: white;
    height: 800px;
}


.center {
    text-align: center;
    margin: 16px 0 50px 0;
}


.centerh3 {
    text-align: center;
    margin: 12px 0 12px 0;
}

.spacer {
    width: 100%;
    /* background: red; */
    height: 24px;
    padding: 2px;
    margin: 4px auto 4px auto;
    clear: both;
}


#btn {
    padding: 14px 55px !important;
    margin: 24px 0 10px 142px !important;
    font-size: 17px !important;
    font-weight: bolder !important;
}